<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4>Gestión de <b>compañías</b></h4>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover" id="companyTable" aria-describedby="Compañías guardadas">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>País</th>
          <th>Tax code</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of companyList">
          <td>{{c.companyName}}</td>
          <td>{{c.countryId.countryName}}</td>
          <td>{{c.companyTaxcode}}</td>
          <td>
            <a href="#editModal" class="edit" data-bs-toggle="modal" (click)="convert(c)">
              <i class="material-icons" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">&#xE254;</i>
            </a>
            <a href="#deleteModal" class="delete" data-bs-toggle="modal" (click)="companyId=c.companyId">
              <i class="material-icons" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">&#xE872;</i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="d-md-table-cell" id="addButton" >
      <div class="row">
        <div class="col-lg-6">
          <a href="#createModal" class="btn btn-lg badge-success" data-bs-toggle="modal"><i class="material-icons" data-bs-toggle="tooltip" title="Agregar">&#xE147;</i> <span></span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Create Modal -->
<div id="createModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form ngNativeValidate (ngSubmit)="save()">
        <div class="modal-header">
          <h4 class="modal-title">Crear nueva compañía</h4>
          <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Nombre</label>
            <textarea class="form-control" name="newName"
                      [title]="nameInputTitle" [(ngModel)]="newCompany.companyName" required>
            </textarea>
          </div>
          <div class="form-group">
            <label>País</label>
            <select class="form-control" name="newCountry"
                    [title]="countrySelectTitle" [(ngModel)]="countryId" required>
              <option disabled>Seleccione un país...</option>
              <option name="countryInput" *ngFor="let c of countryList" [value]="c.countryId">{{c.countryName}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Tax code</label>
            <input required type="text" class="form-control" name="newTaxCode"
                   [pattern]="selectPattern()" [placeholder]="selectPlaceholder()"
                   [title]="taxCodeInputTitle" [(ngModel)]="newCompany.companyTaxcode"
            >
          </div>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancelar">
          <input type="submit" class="btn btn-success" value="Guardar">
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Edit Modal -->
<div id="editModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form ngNativeValidate (ngSubmit)="edit()">
        <div class="modal-header">
          <h4 class="modal-title">Modificar</h4>
          <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Nombre</label>
            <textarea name="editName" [title]="nameInputTitle" [(ngModel)]="editCompany.companyName"
                      [value]="editCompany.companyName" class="form-control" required>
            </textarea>
          </div>
          <div class="form-group">
            <label>País</label>
            <select [title]="countrySelectTitle" class="form-control"
                    name="editCountry" [(ngModel)]="countryId" required>
              <option disabled>Seleccione un país...</option>
              <option *ngFor="let c of countryList" [value]="c.countryId"
                      [selected]="c.countryId == editCompany.countryId.countryId">
                {{c.countryName}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Tax code</label>
            <input required
              type="text" name="editTaxCode" [title]="taxCodeInputTitle"
              [(ngModel)]="editCompany.companyTaxcode"
              [value]="editCompany.companyTaxcode" class="form-control"
            >
          </div>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancelar">
          <input type="submit" class="btn btn-info" value="Guardar">
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Delete Modal -->
<div id="deleteModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form ngNativeValidate (ngSubmit)="delete()">
        <div class="modal-header">
          <h4 class="modal-title">Eliminar compañía</h4>
          <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>¿Está seguro que quiere eliminar esta compañía?</p>
          <p class="text-danger"><small>*Esta acción es permanente</small></p>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancelar">
          <input type="submit" class="btn btn-danger" data-bs-dismiss="modal" value="Eliminar">
        </div>
      </form>
    </div>
  </div>
</div>
